body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-size: 30px;
}